<div class="pwr-bg" [style.background-image]="'radial-gradient(ellipse at center, rgba(0, 0, 0, -1.4) 0%, rgba(0, 0, 0, 1.9) 75%), url(./assets/img/password_bg.jpg)'"></div>

<div class="pwr-page-container">
    <div class="pwr-header-container">
        <img routerLink="/" src="./assets/img/login_logo.png">
        <button routerLink="/login">Einloggen</button>
    </div>

    <div class="pwr-content-container">
        <form (ngSubmit)="resetPassword()">
            <div class="pwr-content-text-1">
                <span>Passwort ändern</span>
            </div>

            <div class="info" [class.d-none]="!sthWrong">
                <div>Übermittlung war nicht erfolgreich.</div><br>
                <span>Versuchen Sie es erneut oder kontaktieren Sie den Support:sarah.zimmermannschmutzler@gmail.com</span>
            </div>
    
            <div class="info" [class.d-none]="!success">
                <div>Passwort erfolgreich zurückgesetzt.</div><br>
                <span>Sie werden zum Login weitergeleitet.</span>
            </div>

            <input type="password" placeholder="Neues Passwort" [(ngModel)]="passwordOne" name="email" (input)="changeBorderColorPwdOne($event)" [class.redBorder]="redPwdOneBorder" autocomplete="off">
            <input type="password" placeholder="Passwort wiederholen" [(ngModel)]="passwordTwo" name="email" (input)="changeBorderColorPwdTwo($event)" [class.redBorder]="redPwdTwoBorder" [class.greenBorder]="greenPwdBorder" autocomplete="off">
            <button [disabled]="disabledButton" [class.disBtn]="disabledButton">Ändern</button>
        </form>
    </div>

    <div class="pwr-footer-container">
        <a routerLink="/legal">Impressum</a>
        <span>|</span>
        <a routerLink="/data">Datenschutz</a>
        <span>|</span>
        <a routerLink="/">Startseite</a>
    </div>
</div>

