.pw-bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 400px;
    background-position: center;
    background-size: cover;
    transform: scaleX(-1);

    @media(max-width: 1239px) {
        display: none;
    }
}

.pw-page-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: black;
    z-index: -5;

    @media(max-width: 739px) {
        height: 100vh;
    }
}


// HEADER
.pw-header-container {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding-left: 200px;
    padding-right: 200px;
    z-index: 5;

    @media(max-width: 1279px) {
        padding-left: 40px;
        padding-right: 40px;
    }

    @media(max-width: 739px) {
        background-color: white;
    }

    img {
        cursor: pointer;
        
        @media(max-width: 959px) {
            width: 200px;
        }

        @media(max-width: 419px) {
            width: 150px;
        }
    }

    button {
        background-color: transparent;
        color: #E50914;
        font-size: 18px;
        border: none;
        padding: 8px 12px 8px 12px;
        cursor: pointer;
        transition: 0.3s ease-in-out;

        &:hover {
            text-decoration: underline;
        }
    }

    @media(max-width: 739px) {
        height: 10%;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
}


// CONTENT
.pw-content-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 110px;
    margin-bottom: 228px;
    padding-left: 40px;
    padding-right: 40px;
    z-index: 5;

    form {
        width: 450px;
        box-sizing: border-box;
        background-color: #F3F3F3;
        border-radius: 3px;
        padding: 40px 40px 40px 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        

        input {
            width: 93%;
            height: 30px;
            border-radius: 3px;
            border-style: solid;
            border-width: 1px;
            border-color: rgba(0, 0, 0, 0.2);
            background-color: white;
            outline: none;
            padding: 10px;
            margin-bottom: 25px;

            &::placeholder {
                color: rgba(0, 0, 0, 0.6);
                font-weight: 500;
                font-size: 16px;
            }

            @media(max-width: 739px) {
                width: 96%;
            }
        }

        button {
            width: 100%;
            background-color: #2490FD;
            color: white;
            font-size: 18px;
            font-weight: 600;
            border: none;
            border-radius: 3px;
            padding: 10px 15px 10px 15px;
            cursor: pointer;
            transition: 0.3s ease-in-out;
            margin-bottom: 16px;

            &:hover {
                opacity: 85%;
            }
        }

        @media(max-width: 565px) {
            flex-direction: column;
        }
        
        @media(max-width: 739px) {
            padding: 0px 0px 0px 0px;
            width: 100%;
        }
    }

    @media(max-width: 739px) {
        background-color: #F3F3F3;
        margin-top: 0;
        padding-top: 20px;
        margin-bottom: 0;
        height: 75%;
    }
}

.pw-content-text-1 {
    width: 100%;
    color: #333333;
    display: flex;
    justify-content: flex-start;

    span {
        font-size: 32px;
        font-weight: 800;
        margin-bottom: 25px;
    }
}

.pw-content-text-2 {
    width: 100%;
    color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: flex-start;
    margin-bottom: 16px;
}

.redBorder {
    border-color: #E50914 !important;
}

.greenBorder {
    border-color: #2BB871 !important;
}

.disBtn {
    cursor: default !important;
}

// FOOTER
.pw-footer-container {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 5;

    a {
        color: rgba(255, 255, 255, 0.7);
        font-weight: 300;
        margin-left: 8px;
        margin-right: 8px;
        cursor: pointer;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }

        @media(max-width: 565px) {
            font-size: 12px;
        }
    }

    span {
        color: rgba(255, 255, 255, 0.7);
    }

    @media(max-width: 739px) {
        height: 15%;
        background-color: #3D3D3D;

        a {
            color: rgba(255, 255, 255, 0.4); 
            text-decoration: none;
        }
        
    }
}