.pw-bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    // background-color: #E50914;
    height: 100%;
    width: 400px;
    background-position: center;
    background-size: cover;
    transform: scaleX(-1);
    // z-index: 0;
}

.pw-page-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: black;
    // background-position: center;
    // background-size: cover;
    // background-repeat: repeat;
    z-index: -5;

    @media(max-width: 599px) {
        background-image: none !important;
    }
}


// HEADER
.pw-header-container {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding-left: 200px;
    padding-right: 200px;
    z-index: 5;

    @media(max-width: 1279px) {
        padding-left: 40px;
        padding-right: 40px;
    }

    img {
        @media(max-width: 959px) {
            width: 200px;
        }

        @media(max-width: 419px) {
            width: 150px;
        }
    }

    button {
        background-color: transparent;
        color: #E50914;
        font-size: 18px;
        border: none;
        border-radius: 3px;
        padding: 8px 12px 8px 12px;
        cursor: pointer;
        transition: 0.3s ease-in-out;

        &:hover {
            text-decoration: underline;
        }
    }
}


// CONTENT
.pw-content-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 120px;
    padding-left: 40px;
    padding-right: 40px;
    z-index: 5;

    form {
        width: 450px;
        box-sizing: border-box;
        background-color: #F3F3F3;
        border-radius: 3px;
        padding: 60px 60px 60px 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: white;

        input {
            width: 93%;
            height: 30px;
            border-radius: 3px;
            border-style: inset;
            border-width: 1px;
            border-color: rgba(255, 255, 255, 0.3);
            background-color: white;
            color: black;
            outline: none;
            padding: 10px;
            margin-bottom: 25px;

            &:focus {
                outline: 1px solid white;
                outline-offset: 2px;
            }

            &::placeholder {
                color: black;
                font-weight: 500;
                font-size: 16px;
            }

            @media(max-width: 599px) {
                width: 95%;
            }
        }

        button {
            width: 100%;
            background-color: #2490FD;
            color: white;
            font-size: 18px;
            font-weight: 600;
            border: none;
            border-radius: 3px;
            padding: 10px 15px 10px 15px;
            cursor: pointer;
            transition: 0.3s ease-in-out;
            margin-bottom: 16px;

            &:hover {
                background-color: #9D070E;
            }
        }

        @media(max-width: 565px) {
            flex-direction: column;
        }
        
        @media(max-width: 599px) {
            padding: 0px 0px 0px 0px;
            width: 100%;
        }
    }

    @media(max-width: 599px) {
        bottom: 250px
    }
}

.pw-content-text-1 {
    width: 100%;
    display: flex;
    justify-content: flex-start;

    span {
        font-size: 32px;
        font-weight: 800;
        margin-bottom: 25px;
    }
}

.pw-content-text-2 {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 16px;

    // @media(max-width: 959px) {
    //     font-size: 18px;
    // }
}


// FOOTER
.pw-footer-container {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 5;

    a {
        color: rgba(255, 255, 255, 0.7);
        font-weight: 300;
        margin-left: 8px;
        margin-right: 8px;
        cursor: pointer;

        &:focus {
            color: #E50914;
        }

        @media(max-width: 565px) {
            font-size: 12px;
        }
    }

    span {
        color: rgba(255, 255, 255, 0.7);
    }
}