<div class="pw-bg" [style.background-image]="'radial-gradient(ellipse at center, rgba(0, 0, 0, -1.4) 0%, rgba(0, 0, 0, 1.9) 75%), url(./assets/img/password_bg.jpg)'"></div>

<div class="pw-page-container">
    <div class="pw-header-container">
        <img routerLink="/" src="./assets/img/login_logo.png">
        <button routerLink="/login">Einloggen</button>
    </div>

    <div class="pw-content-container">
        <form (ngSubmit)="sendMail()">
            <div class="pw-content-text-1">
                <span>Passwort vergessen?</span>
            </div>

            <div class="info" [class.d-none]="!sthWrong">
                <div>Übermittlung war nicht erfolgreich.</div><br>
                <span>Versuchen Sie es erneut oder kontaktieren Sie den Support:sarah.zimmermannschmutzler@gmail.com</span>
            </div>
    
            <div class="info" [class.d-none]="!success">
                <div>Übermittlung war erfolgreich.</div><br>
                <span>Bitte nutzen Sie den Link, den wir Ihnen per zugesendet haben, um Ihr Passwort zurückzusetzen. Diese Seite können Sie schließen.</span>
            </div>

            <div class="pw-content-text-2">
                <span >Wir schicken Ihnen eine E-Mail mit Anweisungen zum Zurücksetzen Ihres Passworts.</span>
            </div>

            <input type="email" placeholder="E-Mail-Adresse" [(ngModel)]="email" name="email" (input)="changeBorderColorMail($event)" [class.redBorder]="redMailBorder" autocomplete="off">
            <button [disabled]="disabledButton" [class.disBtn]="disabledButton">Schicken Sie mir eine E-Mail</button>
        </form>
    </div>

    <div class="pw-footer-container">
        <a routerLink="/legal">Impressum</a>
        <span>|</span>
        <a routerLink="/data">Datenschutz</a>
        <span>|</span>
        <a routerLink="/">Startseite</a>
    </div>
</div>
