<div class="login-page-container"
    [style.background-image]="'radial-gradient(ellipse at center, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 1.9) 100%), url(./assets/img/login_bg.jpg)'">
    <div class="login-header-container">
        <img routerLink="/" src="./assets/img/login_logo.png">
    </div>

    <div class="login-content-container">
        <form (ngSubmit)="login()">
            <div class="login-content-text-1">
                <span>Einloggen</span>
            </div>

            <div class="wrong-pwd" [class.d-none]="!wrongPwd">
                <div>Account noch nicht aktiviert oder falsches Passwort für {{this.email}}</div><br>
                <span>Sie können Ihr Passwort zurücksetzen oder es erneut versuchen.</span>
            </div>

            <input type="email" placeholder="E-Mail-Adresse" [(ngModel)]="email" name="email" (input)="changeBorderColorMail($event)" [class.redBorder]="redMailBorder" autocomplete="off">
            <input type="password" placeholder="Passwort" [(ngModel)]="password" name="password" (input)="changeBorderColorPwd($event)" [class.redBorder]="redPwdBorder" autocomplete="off">
            <button [disabled]="disabledButton" [class.disBtn]="disabledButton">Einloggen</button>
            <a routerLink="/helpPassword" class="login-content-text-2">Passwort vergessen?</a>
            <div class="login-checkbox-container">
                <input type="checkbox" id="userdata" (change)="rememberMe($event)" [checked]="isChecked">
                <label for="userdata">Benutzerdaten merken</label>
            </div>
            <div class="login-content-text-3">
                <span>Neu bei Videoflix?</span>
                <span routerLink="/" class="login-link-register">Jetzt registrieren</span>
            </div>
        </form>
    </div>

    <div class="login-footer-container">
        <a routerLink="/legal">Impressum</a>
        <span>|</span>
        <a routerLink="/data">Datenschutz</a>
        <span>|</span>
        <a routerLink="/">Startseite</a>
    </div>
</div>