<div class="login-page-container"
    [style.background-image]="'radial-gradient(ellipse at center, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 1.9) 100%), url(./assets/img/login_bg.jpg)'">
    <div class="login-header-container">
        <img routerLink="/" src="./assets/img/login_logo.png">
    </div>

    <div class="login-content-container">
        <form>
            <div class="login-content-text-1">
                <span>Einloggen</span>
            </div>
            <input placeholder="E-Mail-Adresse">
            <input placeholder="Passwort">
            <button>Einloggen</button>
            <a routerLink="/helpPassword" class="login-content-text-2">Passwort vergessen?</a>
            <div class="login-checkbox-container">
                <input type="checkbox" id="userdata">
                <label for="userdata">Benutzerdaten merken</label>
            </div>
            <div class="login-content-text-3">
                <span>Neu bei Videoflix?</span>
                <span routerLink="/" class="login-link-register">Jetzt registrieren</span>
            </div>
        </form>
    </div>

    <div class="login-footer-container">
        <a routerLink="/legal">Impressum</a>
        <span>|</span>
        <a routerLink="/data">Datenschutz</a>
        <span>|</span>
        <a routerLink="/">Startseite</a>
    </div>
</div>