<div class="login-page-container" [style.background-image]="'radial-gradient(ellipse at center, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 1.9) 100%), url(./assets/img/login_bg.jpg)'">
    <div class="login-header-container">
        <!-- <span>VIDEOFLIX</span> -->
        <img src="./assets/img/login_logo.png">
        <button>Einloggen</button>
    </div>

    <div class="login-content-container">
        <span class="content-text-1">Unbegrenzt Filme, Serien und mehr</span>
        <span class="content-text-2">Genießen Sie Videoflix, wo immer Sie möchten.</span>
        <span class="content-text-3">Sie sind startklar? Geben Sie Ihre E-Mail-Adresse ein, um Ihre Registrierung zu beginnen.</span>
        <form>
            <input placeholder="E-Mail-Adresse">
            <button>Loslegen &nbsp; ></button>
        </form>
    </div>

    <div class="login-footer-container">
        <a href="#">Impressum</a>
        <span>|</span>
        <a href="#">Datenschutz</a>
        <span>|</span>
        <a href="#">Konto</a>
    </div>
</div>
