<div class="legal-header-container">
    <img src="./assets/img/login_logo.png">
    <div class="legal-btn-container">
        <button class="member-btn" routerLink="/register">Mitglied werden</button>
        <button class="login-btn" routerLink="/login">Einloggen</button>
    </div>
</div>

<div class="legal-back-container">
    <img src="./assets/img/arrow_left.png">
    <span routerLink="/">Zurück zur Startseite</span>
</div>

<div class="legal-content-container"></div>

<div class="legal-footer-container">
    <div routerLink="/data">Datenschutz</div>
    <div routerLink="/login">Einloggen</div>
    <div routerLink="/">Startseite</div>
</div>