<div class="data-header-container">
    <img src="./assets/img/login_logo.png">
    <div>
        <button class="member-btn">Mitglied werden</button>
        <button class="login-btn">Einloggen</button>
    </div>
</div>

<div class="data-back-container">
    <img src="./assets/img/arrow_left.png">
    <span routerLink="/">Zurück zur Startseite</span>
</div>

<div class="data-content-container"></div>

<div class="data-footer-container">
    <div routerLink="/legal">Impressum</div>
    <div routerLink="/login">Einloggen</div>
    <div routerLink="/">Startseite</div>
</div>
