.login-page-container {
    width: 100%;
    height: 100vh;
    display: flex;
    box-sizing: border-box;
    background-position: center;
    background-size: cover;
}


// HEADER
.login-header-container {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 12px;

    @media(max-width: 1279px) {
        padding-left: 40px;
        padding-right: 40px;
    }

    img {

        @media(max-width: 959px) {
            width: 200px;
        }

        @media(max-width: 419px) {
            width: 150px;
        }

    }

    button {
        background-color: #E50914;
        color: white;
        font-size: 18px;
        border: none;
        border-radius: 3px;
        padding: 8px 12px 8px 12px;
        cursor: pointer;
        transition: 0.3s ease-in-out;

        &:hover {
            background-color: #9D070E;
        }
    }
}


// CONTENT
.login-content-container {
    box-sizing: border-box;
    position: absolute;
    top: 100px;
    bottom: 200px;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;

    span {
        color: white;
        margin-bottom: 20px;
        text-align: center;
    }

    form {
        display: flex;
        justify-content: center;
        align-items: center;

        input {
            width: 300px;
            height: 19px;
            border-radius: 3px;
            border-style: inset;
            border-width: 1px;
            border-color: rgba(255, 255, 255, 0.3);
            background-color: rgba(0, 0, 0, 0.1);
            color: white;
            outline: none;
            padding: 10px;

            &:focus {
                border-color: white;
            }

            &::placeholder {
                color: rgba(255, 255, 255, 0.7);
                font-weight: 500;
                font-size: 16px;
            }

            @media(max-width: 419px) {
                width: 240px;
            }
        }

        button {
            background-color: #E50914;
            color: white;
            font-size: 18px;
            font-weight: 600;
            border: none;
            border-radius: 3px;
            padding: 10px 15px 10px 15px;
            cursor: pointer;
            transition: 0.3s ease-in-out;
            margin-left: 8px;

            &:hover {
                background-color: #9D070E;
            }

            @media(max-width: 565px) {
                margin-top: 20px;
                width: 150px;
            }
        }

        @media(max-width: 565px) {
            flex-direction: column;
        }
    }
}

.content-text-1 {
    font-size: 46px;
    font-weight: 800;

    @media(max-width: 959px) {
        font-size: 25px;
    }
}

.content-text-2 {
    font-size: 25px;

    @media(max-width: 959px) {
        font-size: 18px;
    }
}

.content-text-3 {
    font-size: 18px;

    @media(max-width: 959px) {
        font-size: 16px;
    }
}


// FOOTER
.login-footer-container {
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;

    a {
        color: rgba(255, 255, 255, 0.7);
        font-weight: 300;
        margin-left: 8px;
        margin-right: 8px;
        cursor: pointer;

        &:focus {
            color: #E50914;
        }

        @media(max-width: 565px) {
            font-size: 12px;
        }
    }

    span {
        color: rgba(255, 255, 255, 0.7);
    }
}