// CONTENT
.vid-content-container {
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding-top: 65px;
}

.vid-content-bg-info-container {
    height: 78%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;
}

.vid-content-bg-info {
    display: flex;
    align-items: center;

    img {
        width: 50px;
        height: 50px;
        object-fit: cover;

        @media(max-width: 949px) {
            width: 40px;
            height: 40px;
        }
    }

    div {
        color: white;
        letter-spacing: 8px;
        font-weight: bold;
        font-size: 18px;

        @media(max-width: 949px) {
            font-size: 16px;
        }
    }
}

.vid-content-bg-title {
    font-size: 85px;
    color: white;
    margin-bottom: 16px;

    @media(max-width: 949px) {
        font-size: 70px;
    }
}

.vid-content-bg-subtitle {
    font-size: 18px;
    color: white;
    width: 500px;
    margin-bottom: 16px;

    @media(max-width: 949px) {
        font-size: 16px;
        width: 400px;
    }

    @media(max-width: 509px) {
        width: 100%;
    }
}

.vid-content-play-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-family: 'Roboto';
    font-size: 14px;
    padding: 10px 20px 10px 20px;
    border-radius: 3px;
    border: none;
    background-color: white;
    cursor: pointer;

    img {
        width: 20px;
        height: 20px;
        object-fit: cover;
        margin-right: 8px;
    }

    &:hover {
        background-color: rgba(250, 250, 250, 0.85);
    }
}

.vid-content-video-container {
    height: 20%;
    width: 100%;
    padding-left: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    overflow-x: hidden;
    position: relative;
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.04) 30%, rgba(11, 11, 11, 0.9) 73%);

    &::-webkit-scrollbar {
        background: transparent;
        height: 1px;
    }

    @media(max-width: 509px) {
        padding-left: 0px;
    }
}

.vid-contend-video-slider {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.5s ease;
}

.vid-content-preview-container {
    height: 80%;
    width: 230px;
    margin-right: 8px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;

    &:hover {
        scale: 1.25;
    }

    @media(max-width: 509px) {
        margin-left: 8px;
        margin-right: 0px;
    }
}

.preview-container-bg {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    border-radius: 3px;
    background-color: black;
    background-position: center;
    background-size: cover;
}

.vid-contend-slider-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 2%;
    box-sizing: border-box;
    background-color: #141414;
}

.vid-content-slider-element {
    position: relative;
    top: -899%;
    height: 798%;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    z-index: 10;
    cursor: pointer;

    img {
        width: 30px;
        height: 30px;
        object-fit: cover;
        display: none;
    }

    .vid-content-preview-container {
        height: 80%;
        width: 230px;
        margin-right: 8px;
        background-color: black;
        background-position: center;
        background-size: cover;
        border-radius: 3px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        cursor: pointer;

        &:hover {
            scale: 1.25;
        }
    }
}

.show-slider {
    background-color: rgba(11, 11, 11, 0.8);
}

.show-arrow {
    display: block !important;
}