.vid-header-container {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: black;

    @media(max-width: 949px) {
        height: 50px;
        padding-left: 30px;
        padding-right: 30px;
    }
}

.vid-header-content-left {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        cursor: pointer;
        width: 180px;
        margin-right: 25px;

        @media(max-width: 949px) {
            width: 120px;
        }
    }
}

.vid-header-nav {
    display: flex;
    justify-content: center;
    align-items: center;

    div {
        margin-right: 20px;
        cursor: pointer;
        color: white;

        &:hover {
            color: grey;
            transition: 0.3s ease-in-out;
        }
    }
}

.vid-header-content-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    box-sizing: border-box;
}

.vid-header-search {
    width: 30px;
    margin-right: 30px;
    cursor: pointer;
}

.vid-header-logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 30px;
    height: 30px;
    background-color: white;
    margin-right: 5px;

    img {
        width: 40px;
        height: 40px;
        cursor: pointer;
    }
}

.vid-header-menu {
    position: absolute;
    top: 70px;
    right: 50px;
    background-color: green;
    height: 50px;
    width: 200px;
    color: white;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}