<div class="vid-header-container">
    <div class="vid-header-content-left">
        <img src="./assets/img/login_logo.png">
        <div class="vid-header-nav">
            <div>Startseite</div>
            <div>Filme</div>
        </div>
    </div>

    <div class="vid-header-content-right">
        <img class="vid-header-search" src="./assets/img/vid_search.png">
        <div class="vid-header-logo-container">
            <img src="./assets/img/vid_logo.png">
        </div>
    </div>
</div>
