// HEADER
.reg-header-container {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    height: 100px;
    padding-left: 200px;
    padding-right: 200px;

    @media(max-width: 1279px) {
        padding-left: 40px;
        padding-right: 40px;
    }

    @media(max-width: 499px) {
        height: 80px;
    }

    img {
        cursor: pointer;
        
        @media(max-width: 959px) {
            width: 200px;
        }

        @media(max-width: 499px) {
            width: 150px;
        }
    }

    button {
        background-color: transparent;
        font-size: 18px;
        font-weight: bold;
        border: none;
        padding: 8px 12px 8px 12px;
        cursor: pointer;
        transition: 0.3s ease-in-out;

        &:hover {
            text-decoration: underline;
        }
    }
}


// CONTENT
.reg-content-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 200px 40px 200px 40px;

    form {
        width: 450px;
        box-sizing: border-box;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        input {
            width: 93%;
            height: 30px;
            border-radius: 3px;
            border: 1.5px solid rgba(0, 0, 0, 0.5);
            outline: none;
            padding: 10px;
            margin-bottom: 16px;

            &:focus {
                outline: 2px solid black;
                outline-offset: 3px;
            }

            &::placeholder {
                font-weight: 500;
                font-size: 16px;
            }

            @media(max-width: 599px) {
                width: 95%;
            }
        }

        button {
            width: 100%;
            background-color: #E50914;
            color: white;
            font-size: 18px;
            font-weight: 600;
            border: none;
            border-radius: 3px;
            padding: 10px 15px 10px 15px;
            cursor: pointer;
            transition: 0.3s ease-in-out;
            margin-bottom: 16px;

            &:hover {
                background-color: #9D070E;
            }
        }

        @media(max-width: 565px) {
            flex-direction: column;
        }

        @media(max-width: 599px) {
            padding: 0px 0px 0px 0px;
            width: 100%;
        }
    }

    @media(max-width: 599px) {
        bottom: 250px
    }
}

.reg-content-text-1 {
    width: 100%;
    display: flex;
    justify-content: flex-start;

    span {
        font-size: 32px;
        font-weight: 800;
        margin-bottom: 25px;
    }
}

.reg-content-text-2 {
    width: 100%;
    color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: flex-start;
    margin-bottom: 16px;
}

.redBorder {
    border-color: #E50914 !important;
}

.greenBorder {
    border-color: #2BB871 !important;
}

.disBtn {
    cursor: default !important;
}

.info {
    background-color: #D89D31;
    border-radius: 3px;
    color: black;
    padding: 12px 12px 12px 12px;
    margin-bottom: 35px;

    div {
        margin-bottom: -10px;
        font-weight: bold;
    }
}

.d-none {
    display: none;
}


// FOOTER
.reg-footer-container {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 170px;
    background-color: #F3F3F3;
    border-top: 1px solid rgba(0, 0, 0, 0.1);

    a {
        color: #AAA5A0;
        font-weight: 300;
        margin-left: 8px;
        margin-right: 8px;
        cursor: pointer;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }

        @media(max-width: 565px) {
            font-size: 12px;
        }
    }

    span {
        color: #AAA5A0;
    }
}