<div class="reg-header-container">
    <img src="./assets/img/login_logo.png">
    <button routerLink="/login">Einloggen</button>
</div>

<div class="reg-content-container">
    <form>
        <div class="reg-content-text-1">
            <span>Registrierung</span>
        </div>

        <div class="reg-content-text-2">
            <span >Erstellen Sie ein Passwort, um sich zu registrieren.</span>
        </div>
        <input placeholder="E-Mail-Adresse">
        <input placeholder="Passwort">
        <button routerLink="/">Weiter</button>
    </form>
</div>

<div class="reg-footer-container">
    <a routerLink="/legal">Impressum</a>
    <span>|</span>
    <a routerLink="/data">Datenschutz</a>
    <span>|</span>
    <a routerLink="/">Startseite</a>
</div>